################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModernCPP/.vs/ModernCPP/v16
/ModernCPP/Debug
